@model MessengerApp.Application.Dtos.Direct.DirectDto

<div class="d-flex flex-column justify-content-center">
    <h1>This is test chat page</h1>

    <div>@Model.ProfileInfoDto.UserName</div>
    <div>@Model.ProfileInfoDto.FirstName</div>
    <div>@Model.ProfileInfoDto.LastName</div>
    <div>@Model.ProfileInfoDto.Biography</div>
</div>