@model IEnumerable<MessengerApp.Application.Dtos.Direct.DirectPreviewDto>?

@if (Model != null && Model.Count() != 0)
{
    @foreach (var chat in Model)
    {
        <div class="row">
            <div class="card">
                <div class="card-header">
                    @chat.Title
                </div>
                <div class="card-body">
                    @if (chat.ProfilePictureBytes != null)
                    {
                        <img class="profile-picture" src="data:image/jpeg;base64,@Convert.ToBase64String(chat.ProfilePictureBytes)" alt="Profile Picture"/>
                    }
                    else
                    {
                        <div class="empty-circle"></div>
                    }
                </div>
                <div class="card-footer">
                    <!-- TODO open chat -->
                    <form method="post">
                        <input type="hidden" name="conversatorId" value="@chat.Id"/>
                        <button class="btn btn-success btn-block" type="submit">
                            Chat
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
}