@model MessengerApp.Application.Dtos.Group.GroupDto

<div class="d-flex flex-column justify-content-center">
    <h1>This is test group page</h1>

    <div>@Model.GroupInfoDto.Title</div>
    <div>@Model.GroupInfoDto.Description</div>
</div>