@model MessengerApp.Application.Dtos.ChangePasswordDto

<div class="form-group">
    <label asp-for="CurrentPassword"></label>
    <input type="password" class="form-control" placeholder="Current password" asp-for="CurrentPassword" autofocus>
</div>
<div class="form-group">
    <label asp-for="NewPassword"></label>
    <input type="password" class="form-control" placeholder="New password" asp-for="NewPassword" autofocus>
</div>
<div class="form-group">
    <label asp-for="ConfirmNewPassword"></label>
    <input type="password" class="form-control" placeholder="Confirm new password" asp-for="ConfirmNewPassword" autofocus>
</div>