@using MessengerApp.Application.Dtos.User
@model MessengerApp.Application.Dtos.User.UserProfileDto

@{
    ViewData["Title"] = "Profile";
}

<style>
    .profile-picture {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
    .empty-circle {
        width: 100px;
        height: 100px;
        background-color: gray;
        border-radius: 50%;
    }
</style>

<div class="row">
    <div class="col">
        <partial name="_ValidationSummary"/>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Profile</div>
            <form asp-action="UpdateProfile" method="post">
                <div class="card-body">
                    <partial name="_UserProfileForm" model="Model.UserInfoDto"/>
                </div>

                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Password</div>
            <form asp-action="ChangePassword" method="post">
                <div class="card-body">
                    <partial name="_UserPasswordForm" model="@(new ChangePasswordDto())"/>
                </div>

                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="row mt-4 mb-2">
    <div class="col">
        <div class="card">
            <div class="card-header">Profile picture</div>
            <form asp-controller="User" asp-action="UploadProfilePicture" method="post" enctype="multipart/form-data">
                <div class="card-body d-flex justify-content-center">
                    @if (Model.UserProfilePictureDto.ProfilePictureBytes != null)
                    {
                        <img class="profile-picture" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.UserProfilePictureDto.ProfilePictureBytes)" alt="Profile Picture"/>
                    }
                    else
                    {
                        <div class="empty-circle"></div>
                    }
                </div>
                <div class="form-group d-flex justify-content-end card-footer">
                    <input class="form-control" type="file" name="file"/>
                    <input class="btn btn-primary" type="submit" value="Upload" autofocus>
                </div>
            </form>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">Email</div>
            <form method="post">
                <div class="card-body">
                    <partial name="_UserEmailForm" model="Model.UserEmailDto"/>
                </div>

                <div class="card-footer d-flex justify-content-around justify-content-end">
                    <button asp-action="RequestEmailConfirmation" class="btn btn-primary" type="submit">Confirm email</button>
                    <button asp-action="RequestEmailChange" class="btn btn-secondary" type="submit">Change email</button>
                </div>
            </form>
        </div>
    </div>
</div>