@inject IViewLocalizer ViewLocalizer

@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>@ViewLocalizer["Error"]</strong>
        <div asp-validation-summary="All" class="danger"></div>
    </div>
}