@model MessengerApp.Application.Dtos.Profile.ProfileEmailDto

@inject IViewLocalizer ViewLocalizer

<div class="form-group">
    <label asp-for="Email">
        @if (Model.IsConfirmed)
        {
            <span style="color: green">@ViewLocalizer["EmailConfirmed"]</span>
        }
        @if (!Model.IsConfirmed)
        {
            <span style="color: red">@ViewLocalizer["EmailNotConfirmed"]</span>
        }
    </label>
    <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
</div>