@model MessengerApp.Application.Dtos.Channel.ChannelDto

<div class="d-flex flex-column justify-content-center">
    <h1>This is test channel page</h1>

    <div>@Model.ChannelInfoDto.Title</div>
    <div>@Model.ChannelInfoDto.Description</div>
</div>